@import model.edu.neu.coe.csye7200.proj._
@(latitude: Double, longitude: Double, depth: Double, result: Double)
@main("Magnitude Linear Regression Analysis Results") {
<section id="top">
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAE2UpXjKKqvI86_mQ37Yak8xH8YisubWg"
            type="text/javascript"></script>
    <style type="text/css">
      html, body, #map { height: 500px; width: 100%; margin: 0; }
    </style>
    <script type="text/javascript">
    function initialize() {
      var map = new google.maps.Map(
        document.getElementById('map'), {
          center: new google.maps.LatLng(@latitude,@longitude),
          zoom: 6,
          mapTypeId: google.maps.MapTypeId.TERRAIN
      });
      var marker = new google.maps.Marker({
            position: new google.maps.LatLng(@latitude,@longitude),
            map: map,
            draggable: false,
            animation: google.maps.Animation.DROP,
            title: 'Magnitude Analysis: @{"%.4f".format(result)}'
      });
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>
    <div id="map"</div>
</section>
<section id="content">
    <div class="wrapper">
        <article>
            <h2>Magnitude Linear Regression Analysis Results</h2>
            <div>
                <table>
                    <tr>
                        <td><b><u>Latitude</u></b></td>
                        <td><b><u>Longitude</u></b></td>
                        <td><b><u>Depth</u></b></td>
                        <td><b><u>Predicted Earthquake Magnitude</u></b></td>
                    </tr>
                    <tr>
                        <td>@latitude</td>
                        <td>@longitude</td>
                        <td>@depth</td>
                        <td>@{"%.4f".format(result)}</td>
                    </tr>
                </table>
            </div>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </div>
</section>
}