@import helper._
@(form: Form[AnalysisForm.AnalysisData], postUrl: Call)(implicit request: MessagesRequestHeader)
@main("Magnitude Linear Regression Analysis") {
<section id="content">
    <div class="wrapper">
        <article>
            <h2>Magnitude Linear Regression Analysis</h2>
            <p>Estimate the magnitude of a earthquake at a user specified latitude and longitude</p>
            <p>
                @helper.form(postUrl) {
                <p style="font-size: 16px">
                @helper.CSRF.formField
                <style>
                    .column {float: left;width: 33%;}
                    .row:after {content: "";display: table;clear: both;}
                </style>
                <div class="row">
                    <div class="column">
                        @helper.inputText(
                        form("latitude"),
                        '_label -> "Latitude",
                        'placeholder -> "-90 to 90",
                        'class->"form-control",
                        '_help -> "degrees",
                        '_showErrors -> true)
                    </div>
                    <div class="column">
                        @helper.inputText(
                        form("longitude"),
                        '_label -> "Longitude",
                        'placeholder -> "-180 to 180",
                        'class->"form-control",
                        '_help -> "degrees",
                        '_showErrors -> true)
                    </div>
                    <div class="column">
                        @helper.inputText(
                        form("depth"),
                        '_label -> "Depth",
                        'placeholder -> "0 to 700",
                        'class->"form-control",
                        '_help -> "kilometers (0 to 70 for Shallow; 70 to 300 for Intermediate; 300 to 700 for Deep)",
                        '_showErrors -> true)
                    </div>
                    <div class="column">
                        @helper.inputText(
                        form("depthError"),
                        '_label -> "Depth Error",
                        'placeholder -> "0 to 10",
                        'class->"form-control",
                        '_help -> "Uncertainty of reported depth of the event in kilometers",
                        '_showErrors -> true)
                    </div>
                    </div>
                </p>
                <br>
                <button style="font-size : 18px">Analyze</button>
                }
            </p>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </div>
</section>
}