@()
@defining(play.core.PlayVersion.current) { version =>
<h3>Table of Contents</h3>
<ul>
  <li><a href="@routes.HomeController.index">World Earthquake Forecaster</a>
  <li><a href="@routes.LookupController.lookup">Historical Lookup</a>
  <li><a href="@routes.TopTenController.topten">Top Ten</a>
  <li><a href="@routes.AnalysisController.analysis">Linear Analysis</a>
</ul>
<h3>Resources</h3>
<ul>
  <li><a href="https://data.usgs.gov/" target="_blank">USGS</a></li>
  <li><a href="https://github.com/waddellp/CSYE7200_PROJECT" target="_blank">Project GitHub Repository</a></li>
</ul>
}