@import helper._
@(form: Form[ForecastForm.ForecastData], postUrl: Call)(implicit request: MessagesRequestHeader)
@main("Forecast Probability Analysis") {
<section id="content">
    <div class="wrapper">
        <article>
            <h2>Forecast Probability Analysis</h2>
            <p>Estimate the probability of atleast one earthquake occurrence at an user specified location and magnitude</p>
            <p>
                @helper.form(postUrl) {
                <p style="font-size: 16px">
                @helper.CSRF.formField
                <style>
                    .column {float: left;width: 33%;}
                    .row:after {content: "";display: table;clear: both;}
                </style>
                <div class="row">
                    <div class="column">
                        @helper.inputText(
                        form("latitude"),
                        '_label -> "Latitude",
                        'placeholder -> "-90 to 90",
                        'class->"form-control",
                        '_help -> "degrees",
                        '_showErrors -> true)
                    </div>
                    <div class="column">
                        @helper.inputText(
                        form("longitude"),
                        '_label -> "Longitude",
                        'placeholder -> "-180 to 180",
                        'class->"form-control",
                        '_help -> "degrees",
                        '_showErrors -> true)
                    </div>
                    <div class="column">
                        @helper.inputText(
                        form("radius"),
                        '_label -> "Radius [km]",
                        'placeholder -> "> 0.0",
                        'class->"form-control",
                        '_help -> "kilometers",
                        '_showErrors -> true)
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        @helper.inputText(
                        form("magnitude"),
                        '_label -> "Magnitude",
                        'placeholder -> ">= 2.5",
                        'class->"form-control",
                        '_help -> "",
                        '_showErrors -> true)
                    </div>
                    <div class="column">
                        @helper.inputText(
                        form("years"),
                        '_label -> "Years",
                        'placeholder -> ">0",
                        'class->"form-control",
                        '_help -> "",
                        '_showErrors -> true)
                    </div>
                </div>
                </p>
                <br>
                <button style="font-size : 18px">Analyze</button>
                }
            <p> <dl> Gutenberg – Ritcher (GR) relation (1954) between magnitude and frequency (N) of earthquake events larger than magnitude (M) is made use of.</dl></p>
            <ul>P(t)=1-e^(-N1(M)*t)</ul>
            <br><ul>The predicted percentage denotes the probability of at least one earthquake occurrence:</ul>
            <ul>i) At the user specified latitude and longitude coordinates</ul>
            <ul>ii) Within the user specified radius</ul>
            <ul>iii) Greater than or equal to the user specified magnitude</ul>
            <ul>iv)	Within the user specified number of years</ul>

            @if(form.hasGlobalErrors) {
                    @for(error <- form.globalErrors) {
                        <p style="color:red">@error.format</p>
                    }
                }
                </p>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </div>
</section>
}