@import model.edu.neu.coe.csye7200.proj._
@(message: Seq[USGeoSurvey])
@main("Lookup Results") {
<section id="content">
    <div class="wrapper">
        <article>
            <h2>Historical Lookup</h2>
            <div>
                <table>
                    <tr><td style="text-align: center"><b><u>Date/time</u></b></td>
                        <td style="text-align: center"><b><u>Location</u></b></td>
                        <td style="text-align: center"><b><u>Latitude</u></b></td>
                        <td style="text-align: center"><b><u>Longitude</u></b></td>
                        <td style="text-align: center"><b><u>Magnitude</u></b></td></tr>
                @for( u <- message ) {
                <tr>
                    <td>@u.datetime.toString()</td>
                    <td>@u.location.place</td>
                    <td>@u.location.latitude.toString()</td>
                    <td>@u.location.longitude.toString()</td>
                    <td>@u.magnitude.magnitude.toString() [@u.magnitude.units]</td>
                </tr>
                }
                </table>
            </div>
        </article>
        <aside>
            @commonSidebar()
        </aside>
    </div>
</section>

}